<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email Confirm</title>
</head>
<body class="voyti-body reset-body">

  <main class="main-of-voyti">
      <div class="voyti-content">
          <div class="container p-5">
              <h2 class="font-weight-bold mt-3">Подтверждение почты</h2>
              <hr>
              <p>Пожалуйста проверьте свою почту чтобы завершить регистрацию.</p>
          </div>
      </div>
  </main>

</body>
</html>