<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Invalid Verify</title>
</head>
<body class="voyti-body reset-body">

  <main>
      <h2>Mail verification failed</h2>
      <hr>
      <p>Your link is invalid, please login again</p>
      <a href="{% url 'login' %}">Sign In</a>
  </main>

</body>
</html>