<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password Reset Confirm</title>
</head>
<body>

  <main>
      <h2>Password Reset Confirm</h2>
      <hr>
      <p>Please enter your new password.</p>
      <form method="POST">
          {% csrf_token %}
          {{ form }}
          <button type="submit">Reset Password</button>
      </form>
  </main>

</body>
</html>